<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>20 podatnosci</title>
</head>
<body>
<section>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">CVE</th>
            <th scope="col">publishDate</th>
            <th scope="col">lastModifiedDate</th>
            <th scope="col">description</th>
            <th scope="col">vectorString</th>
            <th scope="col">baseScore</th>
            <th scope="col">vulnerableTechnology</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vulnerability : ${vulnerabilitySubList}">
            <td th:text="${vulnerability.cveId}"></td>
            <td th:text="${vulnerability.publishDate}"></td>
            <td th:text="${vulnerability.lastModifiedDate}"></td>
            <td th:text="${vulnerability.description}"></td>
            <td th:text="${vulnerability.vectorString}"></td>
            <td th:text="${vulnerability.baseScore}"></td>
            <td th:text="${vulnerability.vulnerableTechnology}"></td>
        </tr>
        </tbody>
    </table>
</section>


<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Nazwa</th>-->
<!--        <th>Wartosc</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="vulnerability : ${vulnerabilitySubList}">-->
<!--        <td th:text="${vulnerability.publishDate}"></td>-->
<!--        <td th:text="${vulnerability.lastModifiedDate}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

</body>
</html>
