<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>20 podatnosci</title>


</head>
<body>
<section>

    <table id="x" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>CVE</th>
            <th>publishDate</th>
            <th>lastModifiedDate</th>
            <th>description</th>
            <th>vectorString</th>
            <th>baseScore</th>
            <th>vulnerableTechnology</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vulnerability : ${twentyVulnerabilitySubList}">
            <td th:text="${vulnerability.cveId}"></td>
            <td th:text="${vulnerability.publishDate}"></td>
            <td th:text="${vulnerability.lastModifiedDate}"></td>
            <td th:text="${vulnerability.description}"></td>
            <td th:text="${vulnerability.vectorString}"></td>
            <td th:text="${vulnerability.baseScore}"></td>
            <td th:text="${vulnerability.vulnerableTechnology}"></td>
        </tr>
        </tfoot>
    </table>


</section>
</body>
</html>
